/**************************
  designed for SenKu
**************************/

/* @font-face */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* default */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121212;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
a:hover {
  text-decoration: none;
}

i, span, a {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 110%;
  color: #121212;
  margin: 0px;
}

h1 { font-size: 64px; }
h2 { font-size: 56px; }
h3 { font-size: 48px; }
h4 { font-size: 36px; }
h5 { font-size: 28px; }
h6 { font-size: 18px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  padding: 0 12px;
  width: 150px;
  font-size: 18px;
  line-height: 50px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  text-transform: capitalize;
}

/* homepage */
.homepage h2, p {
  color: #fff;
}

.homepage ul li a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  /* color: rgba(255, 255, 255, 0.75); */
  color: #fff;
}

.tengah {
  top: 50%;
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
 position: absolute;
}

.tombol {
  display: flex;
}

.rounded-one {
  border: 2px transparent;
  border-radius: 25px;
  background-color: #0d6efd;
  text-decoration: none;
  color: #fff;
}

.rounded-one:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.rounded-two {
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}

.rounded-two:hover {
  border: 2px transparent;
  background-color: #0d6efd;
  color: #fff;
}
